/* @import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
  font-family: "Alata";

  src: url("../../public/fonts/Alata/Alata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Black.ttf")
    format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Thin.ttf")
    format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f04a94;
  --secondary-color: #f76858;
  --contrast-color: #fcfcfc;
  --font-size-p: 16px;
  --font-size-h1: 56px;
  --font-size-h2: 48px;
  --font-size-h3: 32px;
  --font-size-h4: 24px;
  --font-size-h5: 20px; 
  --font-size-p: 16px;
  --font-size-p14: 14px;
  --font-size-mn: 12px; 
  --font-size-mnAlata: 12px;
}



.m14 {
  @apply text-sm font-montserrat;
}

.mn {
  @apply font-montserrat text-[12px];
}

.stroke-text-white {
  -webkit-text-stroke: 1px var(--contrast-color);
}

.input-number:focus ~ span {
  @apply dark:border-zinc-400 border-zinc-500 border-2 border-r-0;
}

.input-number:focus ~ .right {
  @apply dark:border-zinc-400 border-zinc-500 border-2 border-l-0;
}

.shadowww {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.shadowwwsecondary {
  box-shadow: 1px 1px 10px 0px rgba(255, 135, 26, 0.25);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(255, 135, 26, 0.25);
  -moz-box-shadow: 1px 1px 12px 0px rgba(255, 135, 26, 0.25);
}

.elipse {
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
}

.timeline__primaryToPurple {
  background: linear-gradient(180deg, #e100f4 -20.75%, #ef4996 120.75%);
}
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  z-index: 15;
  right: 0.5rem;
}

.timeline__purpleTosecondary {
  background: linear-gradient(180deg, #ea35be -20.75%, #f76858 120.75%);
}

/* .s-input input {
  display: none;
}

.s-input input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  vertical-align: middle;

  border: solid 2px #4C956C;
  background-color: white;
  border-radius: 1000px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
}

.s-input input:checked + label:before{
  padding: 1px;
  background-position: center;
  background-color: #4C956C;
  border: solid 2px #4C956C;
  padding: 2px;


} */

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-primary dark:bg-secondary;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* Cor do preenchimento quando o botão de rádio está marcado */
}
input[type="checkbox"]:checked {
  @apply bg-primary dark:bg-secondary border-none;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 15%;

  border: 2px solid #ccc;
  outline: none;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  @apply left-1/3 top-[15%];
  transform: rotate(45deg);
  width: 5px;
  height: 10px;

  border: solid var(--contrast-color);
  border-width: 0 2px 2px 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
@keyframes custom-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.inputLight {
  @apply w-full flex justify-center items-center gap-2 shadow-blur-10 h-[62px] bg-white rounded-md font-montserrat focus-within:border-primary border-2 duration-300;
}

.inputDark {
  @apply w-5/6 flex justify-center items-center gap-2 h-[62px] rounded-sm font-montserrat text-white bg-modal-grey border-b-2 border-white;
}

.buttonLight {
  @apply bg-primary rounded-md h5 text-white hover:bg-light-pink;
}

.buttonDark {
  @apply rounded-md h5 bg-secondary text-white hover:bg-light-pink;
}

.h1 {
  @apply font-alata text-[56px];
}

.h2 {
  @apply font-alata text-[48px];
}

.h3 {
  @apply font-alata text-[32px];
}

.h4 {
  @apply font-alata text-[24px];
}

.h5 {
  @apply font-alata text-[20px];
}

.p {
  @apply font-montserrat text-[16px];
}

.p14 {
  @apply font-montserrat text-[14px];
}

.mn {
  @apply font-montserrat text-[12px];
}

.mnAlata {
  @apply font-alata text-[12px];
}

.t:hover {
  transition: 0.5s ease-in-out left 100px;
}

.p:hover {
  transition: 0.5s ease-in-out left -100px;
}

@keyframes toggle-slider-animation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(32px);
  }
}

*:disabled {
  opacity: 0.6;
}

@keyframes toggle-slider-animation-reverse {
  0% {
    transform: translateX(32px);
  }

  100% {
    transform: translateX(0px);
  }
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(32px);
  animation: toggle-slider-animation 0.2s ease-in-out forwards;
}

.toggle-input:not(:checked) + .toggle-slider::before {
  transform: translateX(0px);
  animation: toggle-slider-animation-reverse 0.2s ease-in-out forwards;
}

.toggle-input:checked + .toggle-slider {
  @apply bg-primary dark:bg-secondary;
}

.toggleIn {
  animation: toggle-slider-animation 0.2s ease-in-out forwards;
}

.toggleOut {
  animation: toggle-slider-animation-reverse 0.2s ease-in-out forwards;
}

.none-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

::-webkit-scrollbar {
  width: 8px;

  height: 8px; /* largura do scroll */
}

/* Define a cor do fundo do scroll */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Define a cor do thumb (a alça do scroll) */
::-webkit-scrollbar-thumb {
  border-radius: 7px;

  background: var(--primary-color);
}

.pAlata {
  @apply font-alata text-[16px];
}

.modalTaskwhite {
  @apply w-16 h-16 shadow-blur-10 rounded-md flex justify-center items-center;
}

.modalTaskDisplay {
  @apply flex items-center;
}

.test::after {
  content: ">";
  color: var(--primary-color);
  font-size: 24px;
}

.centeredAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredAbsoluteTop {
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputGrayAndPink {
  @apply bg-[#F2F2F2] border-[#F04A94];
}
.ooo {
  margin-left: 12px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 92px;
  height: 92px;
  background-color: none;
  @apply sm:visible invisible
  /* Outros estilos desejados */;
}

.hovert {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f2c, #f2c);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Estilos para a seta "prev" */
.swiper-button-prev::after {
  content: "<";
  /* ou use uma imagem de seta */
  /* color: #f04a94; */
  font-size: 48px;
  font-weight: bold;
}

/* Estilos para a seta "next" */
.swiper-button-next::after {
  content: url("../../public/arrowPink.svg");
  /* ou use uma imagem de seta */
  /* color: #f04a94; */
  font-size: 48px;
  font-weight: bold;
}

.groupGradient {
  background-image: linear-gradient(to right, secondary, primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.groupGrandientDark {
  @apply rounded-lg bg-gradient-to-r from-pink-500 to-orange-500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selectGroup {
  @apply text-[#F04A94] border-2 rounded-sm  text-center;
}

/* 
 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */

/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius {
  border-radius: 0% 100% 100% 0% / 1% 0% 50% 1%;

  /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
  width: 400px;
  height: 200px;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  background: linear-gradient(to right, #3c1053, #ad5389);
}

.no-resize {
  resize: none;
}


.inputRegister {
  @apply w-full flex justify-center items-center gap-2 shadow-blur-10 h-16 bg-white rounded-md font-montserrat focus-within:border-primary border-2 dark:focus-within:border-secondary duration-300 dark:bg-modal-grey dark:shadow-blur-20;
}

.swiper-type-of-page-light {
  --swiper-pagination-color: var(--primary-color);
  --swiper-navigation-color: var(--primary-color);
  @apply swiper-type-of-page;
}

.swiper-type-of-page-dark {
  --swiper-navigation-color: var(--secondary-color);
  --swiper-pagination-color: var(--secondary-color);
  @apply swiper-type-of-page;
}

.swiper-type-of-page {
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-width: 6px;
  --swiper-pagination-bullet-height: 6px;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 55%;
  --swiper-navigation-sides-offset: 0px;
}

.simple-keyboard{
  @apply bg-white dark:bg-modal-grey text-modal-grey;
}

#configurations:checked {
  @apply bg-primary dark:bg-secondary border-none p-6;
}
#configurations {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 15%;

  border: 2px solid #ccc;
  outline: none;
  position: relative;
}

#configurations:checked::before {
  content: "";
  position: absolute;
  @apply left-1/3 top-[15%];
  transform: rotate(45deg);
  width: 7px;
  height: 14px;

  border: solid var(--contrast-color);
  border-width: 0 2px 2px 0;
}

.shadow-light {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.shadow-comment {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

/*this remove the arrows from the input number*/
input[type="number"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /*this down remove the arrows from the input number*/
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.mouseTts{
  cursor: url("../../public/img/arrow.svg"), auto;
}

.mouseDefault{
  cursor: default
}
.react-calendar {
  @apply bg-white dark:bg-modal-grey w-full text-mn font-alata;
}
.react-calendar__navigation {
  @apply flex justify-between items-center gap-2;
}
.react-calendar__navigation button {
  @apply text-primary dark:text-secondary hover:brightness-95  w-min flex-nowrap;
}
.react-calendar__navigation button[disabled] {
  @apply opacity-20;
}

abbr[title] {
  display: none;
}
.react-calendar__month-view__days {
  @apply rounded-sm  bg-input-grey dark:bg-back-grey 
relative text-mn  text-modal-grey dark:text-white;
}
.react-calendar__tile {
  @apply rounded-sm  bg-clip-border box-border
  border-[1px] border-white relative dark:border-modal-grey aspect-square;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__month-view__days__day--weekend {
  @apply text-contrast bg-primary  aspect-square dark:bg-secondary;
}
.react-calendar__month-view__days__day--neighboringMonth {
  @apply opacity-70;
}
.react-calendar__tile--now {
  @apply bg-secondary relative dark:bg-primary font-bold text-contrast;
}
.react-calendar__tile--active {
  @apply bg-secondary-opacity relative dark:bg-primary-opacity text-modal-grey;
}

.options {
@apply rounded-none
}

/* Define as bordas arredondadas apenas na parte inferior para o último elemento */
.options:last-child {
@apply rounded-b-lg
}
