/* @import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
  font-family: "Alata";

  src: url("../../public/fonts/Alata/Alata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f04a94;
  --secondary-color: #f76858;
}

.mn {
  @apply font-montserrat text-[12px];
}

.stroke-text-white {
  -webkit-text-stroke: 1px #fcfcfc;
}

.shadowww {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.shadowwwsecondary {
  box-shadow: 1px 1px 10px 0px rgba(255, 135, 26, 0.25);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(255, 135, 26, 0.25);
  -moz-box-shadow: 1px 1px 12px 0px rgba(255, 135, 26, 0.25);
}

.elipse {
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
}


.timeline__primaryToPurple {
  background: linear-gradient(180deg, #e100f4 -20.75%, #ef4996 120.75%);
}

.timeline__purpleTosecondary {
  background: linear-gradient(180deg, #ea35be -20.75%, #f76858 120.75%);
}

/* .s-input input {
  display: none;
}

.s-input input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  vertical-align: middle;

  border: solid 2px #4C956C;
  background-color: white;
  border-radius: 1000px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
}

.s-input input:checked + label:before{
  padding: 1px;
  background-position: center;
  background-color: #4C956C;
  border: solid 2px #4C956C;
  padding: 2px;


} */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke 150ms ease-in-out;
  transition-duration: 150ms;
}

@keyframes custom-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.inputLight {
  @apply w-full flex justify-center items-center gap-2 shadow-blur-10 h-[62px] bg-white rounded-md font-montserrat focus-within:border-primary border-2 duration-300;
}

.inputDark {
  @apply w-5/6 flex justify-center items-center gap-2 h-[62px] rounded-sm font-montserrat text-white bg-modal-grey border-b-2 border-white;
}

.buttonLight {
  @apply bg-primary rounded-md h5 text-white hover:bg-light-pink;
}

.buttonDark {
  @apply rounded-md h5 bg-secondary text-white hover:bg-light-pink;
}

.h1 {
  @apply font-alata text-[56px];
}

.h2 {
  @apply font-alata text-[48px];
}

.h3 {
  @apply font-alata text-[32px];
}

.h4 {
  @apply font-alata text-[24px];
}

.h5 {
  @apply font-alata text-[20px];
}

.p {
  @apply font-montserrat text-[16px];
}

.mn {
  @apply font-montserrat text-[12px];
}


.mnAlata {
  @apply font-alata text-[12px]
}


.t:hover {
  transition: 0.5s ease-in-out left 100px;
}

.p:hover {
  transition: 0.5s ease-in-out left -100px;
}

@keyframes toggle-slider-animation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(32px);
  }
}

@keyframes toggle-slider-animation-reverse {
  0% {
    transform: translateX(32px);
  }

  100% {
    transform: translateX(0px);
  }
}

.toggle-input:checked+.toggle-slider::before {
  transform: translateX(32px);
  animation: toggle-slider-animation 0.2s ease-in-out forwards;
}

.toggle-input:not(:checked)+.toggle-slider::before {
  transform: translateX(0px);
  animation: toggle-slider-animation-reverse 0.2s ease-in-out forwards;
}

.toggle-input:checked+.toggle-slider {
  background-color: #f76858;
}

.toggleIn {
  animation: toggle-slider-animation 0.2s ease-in-out forwards;
}

.toggleOut {
  animation: toggle-slider-animation-reverse 0.2s ease-in-out forwards;
}

::-webkit-scrollbar {
  @apply hidden;
}

.pAlata {
  @apply font-alata text-[16px];
}

.inputSombra {
  @apply relative left-10 h-10 w-[80%] rounded-xl px-5 py-1;
}

.modalTaskwhite {
  @apply w-16 h-16 shadow-blur-10 rounded-md flex justify-center items-center;
}

.modalTaskDisplay {
  @apply flex items-center;
}

.test::after {
  content: ">";
  color: var(--primary-color);
  font-size: 24px;
}

.centeredAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredAbsoluteTop {
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputGrayAndPink {
  @apply bg-[#F2F2F2] border-[#F04A94];
}
.ooo{
  margin-left: 12px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 92px;
  height: 92px;
  background-color: none;
@apply sm:visible invisible
  /* Outros estilos desejados */
}

.hovert {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f2c, #f2c);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Estilos para a seta "prev" */
.swiper-button-prev::after {
  content: "<";
  /* ou use uma imagem de seta */
  color: #f04a94;
  font-size: 48px;
  font-weight: bold;
}

/* Estilos para a seta "next" */
.swiper-button-next::after {
  content: url("../../public/arrowPink.svg");
  /* ou use uma imagem de seta */
  color: #f04a94;
  font-size: 48px;
  font-weight: bold;
}

.groupGrandient {
  background: var(--Gradiente-2, linear-gradient(220deg, #EF4996 7.64%, #F04FB0 42.82%, #FE7A08 122.57%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.groupGrandientDark {
  background: var(--Gradiente-Direto, linear-gradient(249deg, #FF973D 17.15%, #EF4996 65.33%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selectGroup {
  @apply text-[#F04A94] border-2 rounded-sm w-[55%] text-center
}

/* 
 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */

/* These are the KEY styles - you can add them directly to any object you want in your project */
.fancy-border-radius {
  border-radius: 0% 100% 100% 0% / 1% 0% 50% 1% ;

  /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
  width: 400px;
  height: 200px;
  background: #ad5389;
  background: -webkit-linear-gradient(to right,
      #3c1053,
      #ad5389);
  background: linear-gradient(to right,
      #3c1053,
      #ad5389);
}


.inputRegister{
  @apply w-full flex justify-center items-center gap-2 shadow-blur-10 h-1/6 bg-white rounded-md font-montserrat focus-within:border-primary border-2 dark:focus-within:border-secondary duration-300 dark:bg-modal-grey dark:shadow-blur-20;
}