
/* @import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face{
  font-family:"Alata";
  src: url('../../public/fonts/Alata/Alata-Regular.ttf') format('truetype')
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face{
  font-family:"Montserrat";
  src: url('../../public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.h1{
  @apply font-alata text-[56px]
}
.h2{
  @apply font-alata text-[58px]
}
.h3{
  @apply font-alata text-[32px]
}
.h4{
  @apply font-alata text-[24px]
}

.h5{
  @apply font-alata text-[20px]
}
.p{
  @apply font-montserrat text-[16px]
}